.header {
  padding: 1.5rem 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.1s;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--scrolled {
    background-color: white;
    box-shadow: 0 2px 60px rgba(21, 21, 76, 0.3);
  }

  &__logo {
    max-height: 75px;
  }

  nav {
    a {
      color: $primaryColor;
      display: inline-block;
      transition: all 0.2s;
      text-transform: uppercase;
      padding: 0.5rem;
      border-radius: 0.5rem;
      margin: 0 0.5rem;

      &.active {
        background-color: $primaryColor;
        color: white;
      }

      &:hover {
        background-color: $primaryHoverColor;
        color: white;
      }


    }
  }
}