main {
  padding: 8rem 2.5rem;
  min-height: 50vh;

  .container {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(21, 21, 76, 0.2);
    display: flex;
    gap: 1rem;
    height: 75vh;

    .content {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-content: center;
    }
  }
}