body {
  margin: 0;
  background-color: whitesmoke;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

main {
  padding: 8rem 2.5rem;
}

input {
  padding: 0.5rem;
  border: 1px solid darkcyan;
  border-radius: 0.5rem;
  width: 100%;
}

.button {
  background: darkcyan;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
